In [1]:
import pandas as pd

### Helpers functions

In [19]:
def parse_to_pd(file, sep=';', decimal="."):
    df = pd.read_csv(file, skiprows=[1], sep=sep, decimal=decimal)
    return df

### Explore

In [5]:
df = parse_to_pd("../temp/processed/Timecards_2ffbfc36-f864-4d60-9b66-26e14844d04e")

In [6]:
df.head(3)

,Timecard: Timecard Id,Timecard Split: Timecard Split Id,Project,Sub-Project,Project Manager,Assignment,Timecard: Owner Name,Start Date,End Date,Billable,...,Friday Hours,Saturday Hours,Sunday Hours,Total Hours,Total Days Worked,Timecard Split: Currency,Total Billable Amount Currency,Total Billable Amount,Bill Rate from Timecard Currency,Bill Rate from Timecard
0,TCH-12-30-2019-2838595,TC-12-30-2019-3186688,Brava Juliett - 2020,Delivery Assurance,Georgina Reategui,Brava Juliett - 2020-Belo Horizonte-2020-01-01,Weslley Oliveira,01/01/2020,05/01/2020,1,...,"8,00","0,00","0,00","16,00","2,000000",USD,USD,"1141,28",USD,"570,64"
1,TCH-01-03-2020-2849451,TC-01-03-2020-3206168,Brava Juliett - 2020,Delivery Assurance,Georgina Reategui,Brava Juliett - 2020-Belo Horizonte-2020-01-01,Priscilla Lopes,01/01/2020,05/01/2020,1,...,"8,40","0,00","0,00","17,57","2,000000",USD,USD,"1037,52",USD,"518,76"
2,TCH-01-06-2020-2854825,TC-01-06-2020-3216126,Brava Juliett - 2020,Delivery Assurance,Georgina Reategui,Brava Juliett - 2020-Belo Horizonte-2020-01-01,Gabriel Ribeiro,01/01/2020,05/01/2020,1,...,"8,20","0,00","0,00","16,50","2,000000",USD,USD,"1141,28",USD,"570,64"

In [8]:
df = parse_to_pd("../temp/input/Account_Projects_88e569c8-eafa-4929-88eb-81fec96977dc.csv")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10946 entries, 0 to 10945
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Account: Account Name                10946 non-null  object
 1   Account: Client Code                 10936 non-null  object
 2   Account: Region                      3723 non-null   object
 3   ClientProj Code                      10946 non-null  object
 4   Project: Project Name                10946 non-null  object
 5   Project Manager                      10478 non-null  object
 6   Region                               10929 non-null  object
 7   Location                             3 non-null      object
 8   Active                               10946 non-null  int64
 9   Billable                             10946 non-null  int64
 10  Start Date                           10925 non-null  object
 11  End Date                             10944 non-null  object
 12  Financial Status                     10946 non-null  object
 13  Stage                                10946 non-null  object
 14  Account: Account ID                  10946 non-null  object
 15  Project: ID                          10946 non-null  object
 16  Project ID (18 Characters)           10946 non-null  object
 17  Project ID                           10946 non-null  object
 18  Account: Account ID (18 Characters)  10946 non-null  object
 19  Project Code                         10924 non-null  object
dtypes: int64(2), object(18)
memory usage: 1.7+ MB

In [11]:
df = parse_to_pd("../temp/input/Resource_Assignments_917f0f45-7df6-4c17-b79b-108505fed208.csv")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15169 entries, 0 to 15168
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Resource Request                      15016 non-null  object
 1   Resource: Full Name                   15169 non-null  object
 2   Resource: Email                       15169 non-null  object
 3   Project                               15169 non-null  object
 4   Assignment: Assignment Name           15169 non-null  object
 5   Assignment: ID                        15169 non-null  object
 6   API Assignment Correlation ID         0 non-null      float64
 7   Resource: Account ID                  15169 non-null  object
 8   Resource: Employee ID                 15169 non-null  int64
 9   Resource: Account ID (18 Characters)  15169 non-null  object
 10  Resource: Client Code                 0 non-null      float64
 11  Start Date                            15169 non-null  object
 12  End Date                              15169 non-null  object
 13  Status                                15169 non-null  object
dtypes: float64(2), int64(1), object(11)
memory usage: 1.6+ MB

In [15]:
df = parse_to_pd("../temp/input/input_Accounts_Projects_Time.csv")

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84229 entries, 0 to 84228
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Account ID         84229 non-null  object
 1   Account Name       84229 non-null  object
 2   Project ID         84229 non-null  object
 3   Project Code       84229 non-null  object
 4   Project Name       84229 non-null  object
 5   Timecard Id        84229 non-null  object
 6   Timecard Split Id  84229 non-null  object
 7   End Date           84229 non-null  object
dtypes: object(8)
memory usage: 5.1+ MB

In [20]:
df = parse_to_pd("../temp/input/input_Assignment_Beach.csv",sep=',', decimal=",")

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 719 entries, 0 to 718
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee ID                 719 non-null    int64
 1   Consultant                  719 non-null    object
 2   Gender                      719 non-null    object
 3   Role                        719 non-null    object
 4   Grade                       719 non-null    object
 5   Skills                      541 non-null    object
 6   Assignment Start Date       553 non-null    object
 7   End Date                    553 non-null    object
 8   Effort(%)                   553 non-null    float64
 9   Probability(%)              553 non-null    float64
 10  Staffing Office             719 non-null    object
 11  Working Office              719 non-null    object
 12  Project                     553 non-null    object
 13  Account                     553 non-null    object
 14  Sales Region                553 non-null    object
 15  Opportunity Owner           553 non-null    object
 16  Parent Account              273 non-null    object
 17  Industry                    553 non-null    object
 18  Contract Type               513 non-null    object
 19  Sales Stage                 513 non-null    object
 20  Opportunity Probability(%)  553 non-null    float64
 21  Close Date                  513 non-null    object
 22  Primary Service             553 non-null    object
 23  Forecast Category           513 non-null    object
 24  Project Start Date          553 non-null    object
 25  Duration(Months)            553 non-null    object
 26  Location Of Work            46 non-null     object
 27  Project Description         232 non-null    object
 28  Notes For RM                0 non-null      float64
 29  Unnamed: 29                 0 non-null      float64
dtypes: float64(5), int64(1), object(24)
memory usage: 168.6+ KB

In [22]:
df.head(3)

,Employee ID,Consultant,Gender,Role,Grade,Skills,Assignment Start Date,End Date,Effort(%),Probability(%),...,Opportunity Probability(%),Close Date,Primary Service,Forecast Category,Project Start Date,Duration(Months),Location Of Work,Project Description,Notes For RM,Unnamed: 29
0,25392,Guilherme Silveira,Man,Developer,Senior Consultant,"[Expert]: English,Portuguese;\n[Experienced]: ...",2020-01-01,2020-12-31,100.0,100.0,...,100.0,2020-12-31,TW Delivery Team,Closed,2020-01-01,12.0,NaN,PrevisÃ£o da ExtensÃ£o 2020 / 2020 extension pre...,NaN,NaN
1,27232,Matheus Marchezan,Man,Developer,Senior Consultant,[Expert]: Portuguese;\n[Experienced]: Java;\n[...,2020-03-09,2020-12-31,100.0,100.0,...,100.0,2020-12-31,TW Delivery Team,Closed,2020-01-01,12.0,NaN,PrevisÃ£o da ExtensÃ£o 2020 / 2020 extension pre...,NaN,NaN
2,26381,Filipe DarÃ©,Man,Developer,Lead Consultant,"[Expert]: AngularJS ,C#,HTML,Portuguese;\n[Exp...",2020-03-09,2020-12-31,100.0,100.0,...,100.0,2020-12-31,TW Delivery Team,Closed,2020-01-01,12.0,NaN,PrevisÃ£o da ExtensÃ£o 2020 / 2020 extension pre...,NaN,NaN